    <div class="footer" id="ft" role="contentinfo">
        <p>
            <a href="http://www.twitter.com/damonsnyder">twitter.com/damonsnyder</a><br />
            <a href="http://www.diigo.com/user/drsnyder">diigo.com/users/drsnyder</a><br />
            drsnyder at gmail
            <div class="feed"><a href="/rss.xml"><img src="/images/feed-icon-14x14.png" /></a></div>
        </p>
    </div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{
var pageTracker = _gat._getTracker("UA-252271-1");
pageTracker._trackPageview();
} catch(err) {}
</script>
</body>
</html>
